<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859830619066-2ckrufa1gm3qr9ibla5tfurcl1m5ashe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859830619066-2ckrufa1gm3qr9ibla5tfurcl1m5ashe</string>
	<key>API_KEY</key>
	<string>AIzaSyBEr7BG0tSeFq4HHYbM1VS6O3vZaxC-7xU</string>
	<key>GCM_SENDER_ID</key>
	<string>859830619066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Observer</string>
	<key>PROJECT_ID</key>
	<string>observer-e8e74</string>
	<key>STORAGE_BUCKET</key>
	<string>observer-e8e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859830619066:ios:0de072042319461ce4eb83</string>
</dict>
</plist>